{
  "presets": ["env", "react"],
  "plugins": [
    "transform-object-rest-spread",
    "transform-decorators-legacy",
    "transform-class-properties",
    [
      "module-resolver",
      {
        "root": ["./source/scripts/common"],
        "alias": {
          "components": "./source/scripts/common/components",
          "constants": "./source/scripts/common/containers",
          "extensions": [".js", ".jsx", ".less", ".css"]
        }
      }
    ]
  ]
}
