@yellow-100: #ffe682;
@yellow-200: #ffd93e;
@yellow-300: #ffcd00;
@yellow-400: #ff9e00;

@primary: @yellow-200;
@primary-dark: @yellow-300;

@black: #000;
@white: #fff;

@border-radius: 20px;

@text-color: #333;

// Fonts
@font-arial: Arial, sans-serif;
