{
  "presets": [
    "@babel/env",
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose" : true }],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "components": "./common/components",
          "containers": "./common/containers",
          "constants": "./common/constants",
          "stores": "./common/stores",
          "assets": "./static/assets",
          "extensions": [".js", ".jsx", "ts", ".tsx", ".jpg", ".jpeg", ".svg", ".webp"]
        }
      }
    ]
  ]
}
