.Station-CompositionControlsSwitchButton {
  .button-base();

  position: relative;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: @gray-200;

  &_switchTo_next {
    .Station-CompositionControlsSwitchButtonSvgIcon {
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }

  &:hover,
  &:focus,
  &:active,
  &:active:focus {
    .Station-CompositionControlsSwitchButtonSvgIcon {
      fill: @red;
    }
  }
}

.Station-CompositionControlsSwitchButtonSvgIcon {
  .absolute-center();

  fill: #8c8b8b;
  width: 50px;
  height: 50px;
}
