@charset 'UTF-8';
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
html,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
a {
  text-decoration: none;
}
a:link,
a:visited {
  color: #858585;
}
a:hover {
  color: #f00;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a:focus,
button:focus,
li:focus {
  outline-color: #ffcd00;
}
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.button-base {
  display: inline-block;
  margin-bottom: 0;
  padding: 0;
  border: 1px solid transparent;
  background: transparent;
  cursor: pointer;
  touch-action: manipulation;
}
.modal-wrapper {
  display: flex;
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  padding: 20px;
  width: 100%;
  height: 100%;
  z-index: 5080;
  overflow: auto;
}
.modal-wrapper.modal-effect .modal-content {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  opacity: 0;
  transition: all 0.3s;
}
.modal-wrapper.modal-effect .modal-footer {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  opacity: 0;
  transition: all 0.3s;
}
.modal-wrapper.modal-effect.opened .modal-content {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
.modal-wrapper.modal-effect.opened .modal-footer {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
.modal-wrapper.opened {
  visibility: visible;
}
.modal-wrapper.opened .modal {
  visibility: visible;
}
.modal-wrapper .modal {
  margin: auto;
  width: 600px;
  visibility: hidden;
}
.modal-wrapper .modal .modal-content {
  padding: 25px;
  background: #fff;
  border-radius: 20px;
}
.modal-wrapper .modal .modal-footer {
  margin-top: 20px;
}
.modal-wrapper .modal .modal-footer .btn {
  min-width: 0;
}
.modal-wrapper .modal .modal-footer .btn:first-child {
  width: calc(50% - 8px);
  float: left;
}
.modal-wrapper .modal .modal-footer .btn:last-child {
  width: calc(50% - 8px);
  float: right;
}
.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 5040;
  opacity: 0;
  background: rgba(51, 51, 51, 0.5);
  transition: all 0.3s;
}
@media (max-width: 800px) {
  .modal-wrapper .modal {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .modal-wrapper .modal {
    width: 100%;
  }
  .modal-wrapper .modal .modal-footer {
    margin-top: 0;
  }
  .modal-wrapper .modal .modal-footer .btn:first-child,
  .modal-wrapper .modal .modal-footer .btn:last-child {
    float: none;
    margin-top: 15px;
    width: 100%;
  }
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  padding: 0;
  border: 1px solid transparent;
  background: transparent;
  cursor: pointer;
  touch-action: manipulation;
  border-radius: 20px;
  padding: 0 20px;
  min-width: 300px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
.btn.default {
  background: #fff;
}
.btn.default:hover,
.btn.default:focus,
.btn.default:active,
.btn.default:active:focus {
  color: #000;
}
.btn.primary {
  background: #ffd93e;
  color: #000;
}
.btn.primary:hover,
.btn.primary:focus,
.btn.primary:active,
.btn.primary:active:focus {
  background-color: #ffcd00;
}
.burger-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid transparent;
  padding: 0;
  height: calc((3px * 3) + (4px * 2));
  background: transparent;
  cursor: pointer;
}
.burger-button .burger-button-bar {
  border-radius: 2px;
  width: 16px;
  height: 3px;
  background: #858585;
  transition: all 0.2s ease-in-out;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}
.burger-button.active .burger-button-bar {
  border-radius: 0;
}
.burger-button.active .burger-button-bar:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(2px, -1.5px);
          transform: rotate(45deg) translate(2px, -1.5px);
}
.burger-button.active .burger-button-bar:nth-child(2) {
  width: 0;
  opacity: 0;
}
.burger-button.active .burger-button-bar:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(2px, 1.5px);
          transform: rotate(-45deg) translate(2px, 1.5px);
}
.layout-header-menu {
  margin-left: 50px;
  background: #fff;
}
.layout-header-menu.vertical {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: -100%;
  margin: 0;
  padding: 60px 0;
  width: 200px;
  height: 100%;
  background: #fff;
  box-shadow: -1px 0 6px 0 rgba(197, 186, 186, 0.5);
  transition: 0.2s ease-out 0s;
  z-index: 1020;
}
.layout-header-menu.vertical.opened {
  visibility: visible;
  right: 0;
}
.layout-header-menu.vertical li {
  display: block;
  margin: 0;
}
.layout-header-menu.vertical li a {
  display: inline-block;
  padding: 5px 40px;
  width: 100%;
  font-size: 17px;
}
.layout-header-menu.vertical li a.active {
  box-shadow: inset 3px 0 0 0 #ffd93e;
}
.layout-header-menu li {
  display: inline-block;
  margin-right: 15px;
}
.layout-header-menu li a.active {
  font-weight: bold;
  color: #333;
}
.layout {
  position: relative;
  padding-bottom: 65px;
  min-height: 100%;
}
.layout .layout-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 40px;
  border-bottom: 1px solid #f0f0f0;
  height: 85px;
  background: #fff;
}
.layout .layout-header .layout-header-logo {
  width: 110px;
  height: 30px;
}
.layout .layout-content {
  padding: 30px 40px 0;
}
.layout .layout-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 65px;
  padding: 0 40px;
  width: 100%;
  background: #fff;
  font-size: 12px;
  color: #858585;
}
.layout .layout-footer .layout-footer-menu {
  text-align: center;
}
.layout .layout-footer .layout-footer-menu li {
  display: inline-block;
  margin-right: 15px;
}
.layout .layout-footer .layout-footer-copyright {
  text-align: center;
}
@media (max-width: 800px) {
  .layout {
    padding-top: 60px;
    padding-bottom: 65px;
  }
  .layout .layout-header {
    position: fixed;
    right: 0;
    top: 0;
    justify-content: space-between;
    border-bottom: none;
    padding: 0 20px;
    width: 100%;
    height: auto;
    min-height: 60px;
    z-index: 1040;
  }
  .layout .layout-header .burger-button {
    z-index: 1080;
  }
  .layout .layout-content {
    padding: 0 20px;
  }
  .layout .layout-footer {
    padding: 0 20px;
  }
}
@media (max-width: 630px) {
  .layout .layout-footer {
    flex-flow: row wrap;
    justify-content: center;
    line-height: 25px;
  }
  .layout .layout-footer .layout-footer-menu li {
    margin: 0 7.5px;
  }
}
.event-source-microclimate-sensor {
  display: flex;
}
.event-source-microclimate-sensor .temperature,
.event-source-microclimate-sensor .humidity {
  display: inline-block;
}
.event-source-microclimate-sensor .temperature {
  margin-right: 30px;
}
@media (max-width: 800px) {
  .event-source-microclimate-sensor .temperature,
  .event-source-microclimate-sensor .humidity {
    font-size: 14px;
  }
}
.event-source-motion-sensor img {
  border-radius: 20px;
  width: 100%;
  vertical-align: top;
}
.event-source-fridge .btn {
  border-radius: 8px;
  min-width: 130px;
  height: 55px;
  line-height: 55px;
}
.event-source-fridge .btn:first-child {
  margin-right: 20px;
}
@media (max-width: 800px) {
  .event-source-fridge .btn {
    height: 45px;
    line-height: 45px;
  }
}
.event-source-consumption-sensor img {
  border-radius: 20px;
  width: 100%;
  vertical-align: top;
}
.station-composition-switch-button {
  display: inline-block;
  margin-bottom: 0;
  padding: 0;
  border: 1px solid transparent;
  background: transparent;
  cursor: pointer;
  touch-action: manipulation;
  position: relative;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #e9e9e9;
}
.station-composition-switch-button.switch-to-next .svg-icon {
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
          transform: translate(-50%, -50%) rotate(180deg);
}
.station-composition-switch-button .svg-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: #8c8b8b;
  width: 50px;
  height: 50px;
}
.station-composition-switch-button:hover .svg-icon,
.station-composition-switch-button:focus .svg-icon,
.station-composition-switch-button:active .svg-icon,
.station-composition-switch-button:active:focus .svg-icon {
  fill: #f00;
}
.station-volume-range {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 20px;
}
.station-volume-range .rc-slider-track {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: transparent;
}
.station-volume-range .rc-slider-rail {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 4px;
}
.station-volume-range .rc-slider-step {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.station-volume-range .rc-slider-handle {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0;
  border: none;
  border-radius: 0;
  width: 0;
  height: 0;
}
.station-volume-range .rc-slider-handle::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: #605757;
}
.station-volume-range .rc-slider-handle:focus::before,
.station-volume-range .rc-slider-handle:active::before {
  background: #f00;
}
.station-track-line-range {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 20px;
}
.station-track-line-range .rc-slider-track {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: transparent;
}
.station-track-line-range .rc-slider-rail {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 1px;
  background: rgba(100, 100, 100, 0.6);
}
.station-track-line-range .rc-slider-step {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.station-track-line-range .rc-slider-handle {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0;
  border: none;
  border-radius: 0;
  width: 0;
  height: 0;
}
.station-track-line-range .rc-slider-handle::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "";
  display: inline-block;
  border-radius: 6px;
  width: 10px;
  height: 20px;
  background: #d8d8d8;
}
.station-track-line-range .rc-slider-handle:focus,
.station-track-line-range .rc-slider-handle:active {
  box-shadow: none;
}
.station-track-line-range .rc-slider-handle:focus::before,
.station-track-line-range .rc-slider-handle:active::before {
  background: #f00;
}
@media (max-width: 800px) {
  .station-track-line-range .rc-slider-handle::before {
    width: 5px;
  }
}
.event-source-station .composition-info {
  display: flex;
  margin-bottom: 20px;
}
.event-source-station .composition-info img {
  margin-right: 15px;
  border-radius: 5px;
  width: 52px;
  height: 52px;
  vertical-align: top;
}
.event-source-station .composition-info .composition-info-panel {
  width: calc(100% - 52px - 15px);
}
.event-source-station .composition-info .composition-info-panel .panel-composition-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 50%;
  color: #000;
}
.event-source-station .composition-info .composition-info-panel .panel-track-line {
  display: flex;
  align-items: center;
  height: 50%;
}
.event-source-station .composition-info .composition-info-panel .panel-track-line .station-track-line-range {
  width: calc(100% - 40px);
}
.event-source-station .composition-info .composition-info-panel .panel-track-line .track-line-length {
  width: 40px;
  font-size: 14px;
  text-align: right;
  color: rgba(161, 161, 161, 0.84);
}
.event-source-station .composition-controls {
  display: flex;
  justify-content: space-between;
}
.event-source-station .composition-controls .controls-switch-buttons {
  display: flex;
  justify-content: space-between;
  width: 120px;
}
.event-source-station .composition-controls .controls-volume {
  display: flex;
  align-items: center;
  width: calc(100% - 120px - 15px);
}
.event-source-station .composition-controls .controls-volume .station-volume-range {
  width: calc(100% - 40px);
}
.event-source-station .composition-controls .controls-volume .volume-value {
  width: 40px;
  font-size: 14px;
  text-align: right;
  color: rgba(161, 161, 161, 0.84);
}
.event-card {
  position: relative;
  border-radius: 20px;
  color: #333;
  overflow: hidden;
  transition: 0.2s ease-out 0s;
}
.event-card.small-size .event-card-header .header-info {
  flex-direction: column;
  justify-content: flex-start;
}
.event-card.small-size .event-card-header .header-info .header-info-source {
  margin-bottom: 20px;
}
.event-card.small-size .event-card-content {
  font-size: 18px;
}
.event-card.medium-size .event-card-content {
  font-size: 18px;
}
@media (min-width: 320px) {
  .event-card.medium-size .event-card-content {
    font-size: calc(0.125vw + 17.6px);
  }
}
.event-card.large-size .event-card-content {
  font-size: 18px;
}
@media (min-width: 320px) {
  .event-card.large-size .event-card-content {
    font-size: calc(0.41666667vw + 16.66666667px);
  }
}
@media (min-width: 800px) {
  .event-card.large-size .event-card-content {
    font-size: calc(0.35714286vw + 17.14285714px);
  }
}
.event-card.info-type {
  background: #f7f7f7;
}
.event-card.critical-type .event-card-header {
  background: #db5341;
  color: #fff;
}
.event-card.critical-type .event-card-header .header-title .svg-icon {
  -webkit-filter: brightness(100);
          filter: brightness(100);
}
.event-card.critical-type .event-card-content {
  border-radius: 20px;
  background: #f7f7f7;
}
.event-card.critical-type .event-card-cross-button .svg-icon {
  -webkit-filter: brightness(100);
          filter: brightness(100);
}
.event-card:hover {
  background: #f3f3f3;
  box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);
}
.event-card:hover.critical-type .event-card-header {
  background: #f00;
}
.event-card:hover.critical-type .event-card-content {
  background: #f3f3f3;
}
.event-card:hover .event-card-next-button {
  visibility: visible;
  background: #f3f3f3;
}
.event-card:hover .event-card-cross-button {
  visibility: visible;
}
.event-card .event-card-header {
  margin-bottom: -20px;
  padding: 20px 20px 45px;
  min-height: 150px;
}
.event-card .event-card-header .header-title {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.event-card .event-card-header .header-title .svg-icon {
  fill: #333;
  margin-right: 15px;
  width: 50px;
  height: 50px;
}
.event-card .event-card-header .header-title .header-title-text {
  display: flex;
  align-items: center;
  padding-right: 20px;
  width: calc(100% - 50px);
  font-weight: bold;
  font-size: 14px;
}
@media (min-width: 320px) {
  .event-card .event-card-header .header-title .header-title-text {
    font-size: calc(1.25vw + 10px);
  }
}
@media (min-width: 800px) {
  .event-card .event-card-header .header-title .header-title-text {
    font-size: calc(0.35714286vw + 17.14285714px);
  }
}
.event-card .event-card-header .header-info {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
@media (min-width: 320px) {
  .event-card .event-card-header .header-info {
    font-size: calc(0.83333333vw + 9.33333333px);
  }
}
@media (min-width: 800px) {
  .event-card .event-card-header .header-info {
    font-size: calc(0.17857143vw + 14.57142857px);
  }
}
.event-card .event-card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  height: calc(100% - 150px + 20px);
}
.event-card .event-card-content .content-data {
  margin-top: 25px;
}
.event-card .event-card-cross-button {
  display: inline-block;
  margin-bottom: 0;
  padding: 0;
  border: 1px solid transparent;
  background: transparent;
  cursor: pointer;
  touch-action: manipulation;
  visibility: hidden;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 15px;
  height: 15px;
}
.event-card .event-card-cross-button .svg-icon {
  width: 15px;
  height: 15px;
  vertical-align: top;
}
.event-card .event-card-next-button {
  display: inline-block;
  margin-bottom: 0;
  padding: 0;
  border: 1px solid transparent;
  background: transparent;
  cursor: pointer;
  touch-action: manipulation;
  visibility: hidden;
  position: absolute;
  right: 10px;
  bottom: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #f7f7f7;
  opacity: 0.8;
}
.event-card .event-card-next-button .svg-icon {
  width: 15px;
  height: 15px;
  vertical-align: top;
}
@media (max-width: 800px) {
  .event-card.small-size .event-card-header {
    margin-bottom: 0;
    min-height: 0;
  }
  .event-card.small-size .event-card-header .header-info {
    flex-direction: row;
    justify-content: space-between;
  }
  .event-card.small-size .event-card-header .header-info .header-info-source {
    margin-bottom: 0;
  }
  .event-card .event-card-header {
    margin-bottom: -15px;
    padding: 15px;
    min-height: 120px;
  }
  .event-card .event-card-header .header-title .svg-icon {
    width: 35px;
    height: 35px;
  }
  .event-card .event-card-header .header-title .header-title-text {
    padding-right: 15px;
    width: calc(100% - 35px);
  }
  .event-card .event-card-content {
    padding: 15px;
    height: calc(100% - 120px + 15px);
  }
  .event-card .event-card-cross-button {
    right: 15px;
    top: 15px;
  }
  .event-card .event-card-next-button {
    right: 7.5px;
    bottom: 7.5px;
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 680px) {
  .event-card .event-card-cross-button {
    width: 12px;
    height: 12px;
  }
  .event-card .event-card-cross-button .svg-icon {
    width: 12px;
    height: 12px;
  }
  .event-card .event-card-next-button .svg-icon {
    width: 12px;
    height: 12px;
  }
}
.events-page {
  padding-bottom: 10px;
}
.events-page .page-title {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
@media (min-width: 320px) {
  .events-page .page-title {
    font-size: calc(0.83333333vw + 21.33333333px);
  }
}
@media (min-width: 800px) {
  .events-page .page-title {
    font-size: calc(0.71428571vw + 22.28571429px);
  }
}
.events-page .page-content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  grid-auto-flow: dense;
  width: 100%;
}
.events-page .page-content .event-card.small-size {
  grid-column: span 2;
  grid-row: span 1;
}
.events-page .page-content .event-card.medium-size {
  grid-column: span 3;
  grid-row: span 2;
}
.events-page .page-content .event-card.large-size {
  grid-column: span 4;
  grid-row: span 3;
}
@media (max-width: 800px) {
  .events-page .page-title {
    margin-bottom: 20px;
  }
  .events-page .page-content {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
  .events-page .page-content .event-card.small-size {
    grid-column: span 1;
    grid-row: span 1;
  }
  .events-page .page-content .event-card.medium-size {
    grid-column: span 1;
    grid-row: span 2;
  }
  .events-page .page-content .event-card.large-size {
    grid-column: span 2;
    grid-row: span 2;
  }
}
@media (max-width: 680px) {
  .events-page .page-title {
    margin-bottom: 20px;
  }
  .events-page .page-content {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-gap: 15px;
  }
  .events-page .page-content .event-card.small-size {
    grid-column: span 1;
    grid-row: span 1;
  }
  .events-page .page-content .event-card.medium-size {
    grid-column: span 1;
    grid-row: span 2;
  }
  .events-page .page-content .event-card.large-size {
    grid-column: span 1;
    grid-row: span 3;
  }
}
.rc-slider {
  position: relative;
  height: 14px;
  padding: 5px 0;
  width: 100%;
  border-radius: 6px;
  touch-action: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider-rail {
  position: absolute;
  width: 100%;
  background-color: #e9e9e9;
  height: 4px;
  border-radius: 6px;
}
.rc-slider-track {
  position: absolute;
  left: 0;
  height: 4px;
  border-radius: 6px;
  background-color: #abe2fb;
}
.rc-slider-handle {
  position: absolute;
  margin-left: -7px;
  margin-top: -5px;
  width: 14px;
  height: 14px;
  cursor: pointer;
  cursor: -webkit-grab;
  cursor: grab;
  border-radius: 50%;
  border: solid 2px #96dbfa;
  background-color: #fff;
  touch-action: pan-x;
}
.rc-slider-handle:hover {
  border-color: #57c5f7;
}
.rc-slider-handle:active {
  border-color: #57c5f7;
  box-shadow: 0 0 5px #57c5f7;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.rc-slider-handle:focus {
  border-color: #57c5f7;
  box-shadow: 0 0 0 5px #96dbfa;
  outline: none;
}
.rc-slider-mark {
  position: absolute;
  top: 18px;
  left: 0;
  width: 100%;
  font-size: 12px;
}
.rc-slider-mark-text {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  color: #999;
}
.rc-slider-mark-text-active {
  color: #666;
}
.rc-slider-step {
  position: absolute;
  width: 100%;
  height: 4px;
  background: transparent;
}
.rc-slider-dot {
  position: absolute;
  bottom: -2px;
  margin-left: -4px;
  width: 8px;
  height: 8px;
  border: 2px solid #e9e9e9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle;
}
.rc-slider-dot-active {
  border-color: #96dbfa;
}
.rc-slider-disabled {
  background-color: #e9e9e9;
}
.rc-slider-disabled .rc-slider-track {
  background-color: #ccc;
}
.rc-slider-disabled .rc-slider-handle,
.rc-slider-disabled .rc-slider-dot {
  border-color: #ccc;
  box-shadow: none;
  background-color: #fff;
  cursor: not-allowed;
}
.rc-slider-disabled .rc-slider-mark-text,
.rc-slider-disabled .rc-slider-dot {
  cursor: not-allowed !important;
}
.rc-slider-vertical {
  width: 14px;
  height: 100%;
  padding: 0 5px;
}
.rc-slider-vertical .rc-slider-rail {
  height: 100%;
  width: 4px;
}
.rc-slider-vertical .rc-slider-track {
  left: 5px;
  bottom: 0;
  width: 4px;
}
.rc-slider-vertical .rc-slider-handle {
  margin-left: -5px;
  margin-bottom: -7px;
  touch-action: pan-y;
}
.rc-slider-vertical .rc-slider-mark {
  top: 0;
  left: 18px;
  height: 100%;
}
.rc-slider-vertical .rc-slider-step {
  height: 100%;
  width: 4px;
}
.rc-slider-vertical .rc-slider-dot {
  left: 2px;
  margin-bottom: -4px;
}
.rc-slider-vertical .rc-slider-dot:first-child {
  margin-bottom: -4px;
}
.rc-slider-vertical .rc-slider-dot:last-child {
  margin-bottom: -4px;
}
.rc-slider-tooltip-zoom-down-enter,
.rc-slider-tooltip-zoom-down-appear {
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: block !important;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.rc-slider-tooltip-zoom-down-leave {
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: block !important;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.rc-slider-tooltip-zoom-down-enter.rc-slider-tooltip-zoom-down-enter-active,
.rc-slider-tooltip-zoom-down-appear.rc-slider-tooltip-zoom-down-appear-active {
  -webkit-animation-name: rcSliderTooltipZoomDownIn;
          animation-name: rcSliderTooltipZoomDownIn;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.rc-slider-tooltip-zoom-down-leave.rc-slider-tooltip-zoom-down-leave-active {
  -webkit-animation-name: rcSliderTooltipZoomDownOut;
          animation-name: rcSliderTooltipZoomDownOut;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.rc-slider-tooltip-zoom-down-enter,
.rc-slider-tooltip-zoom-down-appear {
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
          animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}
.rc-slider-tooltip-zoom-down-leave {
  -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
          animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
@-webkit-keyframes rcSliderTooltipZoomDownIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  100% {
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@keyframes rcSliderTooltipZoomDownIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  100% {
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@-webkit-keyframes rcSliderTooltipZoomDownOut {
  0% {
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
}
@keyframes rcSliderTooltipZoomDownOut {
  0% {
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
}
.rc-slider-tooltip {
  position: absolute;
  left: -9999px;
  top: -9999px;
  visibility: visible;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider-tooltip * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider-tooltip-hidden {
  display: none;
}
.rc-slider-tooltip-placement-top {
  padding: 4px 0 8px 0;
}
.rc-slider-tooltip-inner {
  padding: 6px 2px;
  min-width: 24px;
  height: 24px;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #6c6c6c;
  border-radius: 6px;
  box-shadow: 0 0 4px #d9d9d9;
}
.rc-slider-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.rc-slider-tooltip-placement-top .rc-slider-tooltip-arrow {
  bottom: 4px;
  left: 50%;
  margin-left: -4px;
  border-width: 4px 4px 0;
  border-top-color: #6c6c6c;
}
.input-range:not(.rc-slider-vertical) {
  margin: 0 auto;
  width: calc(100% - (30px * 2));
  height: 60px;
}
.input-range:not(.rc-slider-vertical).lighting .rc-slider-track {
  background: url(range-lighting-min.f53106f3.svg) no-repeat 12px 50%, url(range-lighting-max.96b2ada6.svg) no-repeat right 12px top 50%, linear-gradient(to right, #ffe682, #ff9e00);
}
.input-range:not(.rc-slider-vertical).temperature .rc-slider-track {
  background: linear-gradient(to right, #068fff, #ffd800, #f76b1c);
}
.input-range:not(.rc-slider-vertical) .rc-slider-track {
  position: absolute;
  top: 50%;
  left: -30px !important;
  border-radius: 30px;
  width: calc(100% + (30px * 2)) !important;
  height: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}
.input-range:not(.rc-slider-vertical) .rc-slider-handle {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.input-range:not(.rc-slider-vertical) .rc-slider-step {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.input-range:not(.rc-slider-vertical) .rc-slider-mark {
  left: -30px;
  top: 0;
  width: calc(100% + (30px * 2));
  height: 100%;
}
.input-range:not(.rc-slider-vertical) .rc-slider-mark .rc-slider-mark-text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.input-range:not(.rc-slider-vertical) .rc-slider-mark .rc-slider-mark-text:first-child {
  left: 0;
}
.input-range:not(.rc-slider-vertical) .rc-slider-mark .rc-slider-mark-text:last-child {
  left: unset !important;
  right: 0;
}
.input-range.rc-slider-vertical {
  margin: 30px auto;
  padding: 0;
  width: 60px;
  height: 340px;
}
.input-range.rc-slider-vertical.lighting .rc-slider-track {
  background: url(range-lighting-max.96b2ada6.svg) no-repeat top 12px left 50%, url(range-lighting-min.f53106f3.svg) no-repeat bottom 12px left 50%, linear-gradient(to top, #ffe682, #ff9e00);
}
.input-range.rc-slider-vertical.temperature .rc-slider-track {
  background: linear-gradient(to top, #068fff, #ffd800, #f76b1c);
}
.input-range.rc-slider-vertical .rc-slider-track {
  position: absolute;
  top: -30px;
  left: 50%;
  border-radius: 30px;
  width: 100%;
  height: calc(340px + (30px * 2)) !important;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
}
.input-range.rc-slider-vertical .rc-slider-handle {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.input-range.rc-slider-vertical .rc-slider-step {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.input-range.rc-slider-vertical .rc-slider-mark {
  top: -30px;
  left: 0;
  width: 100%;
  height: calc(100% + (30px * 2));
}
.input-range.rc-slider-vertical .rc-slider-mark .rc-slider-mark-text {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.input-range.rc-slider-vertical .rc-slider-mark .rc-slider-mark-text:first-child {
  bottom: 0 !important;
}
.input-range.rc-slider-vertical .rc-slider-mark .rc-slider-mark-text:last-child {
  top: 0 !important;
}
.input-range .rc-slider-step .rc-slider-dot {
  display: none;
}
.input-range .rc-slider-handle {
  margin: 0;
  border: none;
  width: 0;
  height: 0;
  z-index: 1060;
}
.input-range .rc-slider-handle:focus {
  box-shadow: none;
}
.input-range .rc-slider-handle::before {
  border: 4px solid #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: transparent;
  box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "";
  display: inline-block;
}
.input-range .rc-slider-rail {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.input-range .rc-slider-mark {
  cursor: pointer;
}
.input-range .rc-slider-mark .rc-slider-mark-text {
  margin: 0 !important;
  width: 60px !important;
  height: 60px !important;
  font-size: 18px;
  line-height: 60px;
  color: #fff;
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
/* Slider */
.slick-loading .slick-list {
  background: #fff url('ajax-loader.d22a3d3c.gif') center center no-repeat;
}
/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url('slick.6a34088c.eot');
  src: url('slick.6a34088c.eot?#iefix') format('embedded-opentype'), url('slick.e2fddd62.woff') format('woff'), url('slick.24abab28.ttf') format('truetype'), url('slick.ea082af8.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  left: -25px;
}
[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}
.slick-prev:before {
  content: '←';
}
[dir='rtl'] .slick-prev:before {
  content: '→';
}
.slick-next {
  right: -25px;
}
[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}
.slick-next:before {
  content: '→';
}
[dir='rtl'] .slick-next:before {
  content: '←';
}
/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: 0.25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}
.slick-slider .slider-item-wrapper {
  width: calc(200px + 15px);
  height: calc(120px + 15px);
  padding: 7.5px;
}
.slick-slider .slick-slide {
  border: none;
}
.slick-slider .slick-slide > div:focus {
  outline: none;
}
.slick-slider .slider-item {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  padding: 15px;
  width: 200px;
  height: 120px;
  background: #f7f7f7;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s ease-out 0s;
}
.slick-slider .slider-item:hover {
  background: #fff;
  box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);
}
.slick-slider .slider-item .slider-item-header {
  width: 100%;
}
.slick-slider .slider-item .slider-item-header .svg-icon {
  width: 24px;
  height: 24px;
}
.slick-slider .slider-item .slider-item-content {
  width: 100%;
}
.slick-slider .slider-item .slider-item-content .content-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  color: #333;
  font-weight: bold;
}
.slick-slider .slider-item .slider-item-content .content-state-info {
  margin-top: 5px;
  font-size: 12px;
  color: #858585;
}
.switch-buttons .svg-icon {
  width: 16px;
  height: 16px;
}
.switch-buttons .switch-left,
.switch-buttons .switch-right {
  display: inline-block;
  padding: 0;
  border: 1px solid transparent;
  background: transparent;
  cursor: pointer;
}
.switch-buttons .switch-left.disabled,
.switch-buttons .switch-right.disabled {
  outline-width: 0;
  cursor: not-allowed;
}
.switch-buttons .switch-left.disabled .svg-icon,
.switch-buttons .switch-right.disabled .svg-icon {
  fill: #c2c2c2;
}
.switch-buttons .switch-right {
  margin-left: 15px;
}
.switch-buttons .switch-right .svg-icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.filters-list {
  display: inline-block;
}
.filters-list:not(.swipable) li,
.filters-list:not(.vertical) li {
  display: inline-block;
  margin-right: 10px;
  padding: 8px 15px;
  border-radius: 20px;
  background: #f7f7f7;
  font-size: 13px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  text-align: center;
}
.filters-list:not(.swipable) li:hover,
.filters-list:not(.vertical) li:hover {
  background: #e9e9e9;
}
.filters-list:not(.swipable) li.selected,
.filters-list:not(.vertical) li.selected {
  background: #ffd93e;
}
.filters-list.swipable .item-wrapper:focus {
  outline: none;
}
.filters-list.swipable li {
  display: inline-block;
  padding: 8px 15px;
  border-radius: 20px;
  background: #f7f7f7;
  font-size: 13px;
  font-weight: normal;
  color: #333;
  cursor: pointer;
  text-align: center;
}
.filters-list.swipable li:hover {
  background: #e9e9e9;
}
.filters-list.swipable li.selected {
  background: #ffd93e;
}
.filters-list.vertical {
  font-size: 14px;
  color: #333;
}
.filters-list.vertical .react-select__control {
  border: none;
  border-radius: 20px;
  min-width: 70px;
  min-height: 30px;
  background: #ffd93e;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
.filters-list.vertical .react-select__control.react-select__control--is-focused {
  box-shadow: none;
}
.filters-list.vertical .react-select__value-container {
  padding: 0 13px;
}
.filters-list.vertical .react-select__indicator-separator {
  display: none;
}
.filters-list.vertical .react-select__indicator {
  margin-right: 13px;
  margin-top: 3px;
  padding: 0;
}
.filters-list.vertical .react-select__indicator::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(arrow-left.cff65cda.svg) no-repeat 50% 50%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.filters-list.vertical .react-select__indicator svg {
  display: none;
  fill: #333;
}
.filters-list.vertical .react-select__menu {
  right: 0;
  width: auto;
  box-shadow: 0 0 6px 0 rgba(197, 186, 186, 0.5);
  border-radius: 0;
}
.filters-list.vertical .react-select__menu .react-select__option {
  cursor: pointer;
  padding: 8px 15px;
}
.filters-list.vertical .react-select__menu .react-select__option:not(.react-select__option--is-selected).react-select__option--is-focused,
.filters-list.vertical .react-select__menu .react-select__option:not(.react-select__option--is-selected):hover,
.filters-list.vertical .react-select__menu .react-select__option:not(.react-select__option--is-selected):focus,
.filters-list.vertical .react-select__menu .react-select__option:not(.react-select__option--is-selected):active,
.filters-list.vertical .react-select__menu .react-select__option:not(.react-select__option--is-selected):active:focus {
  background: #f7f7f7;
}
.filters-list.vertical .react-select__menu .react-select__option.react-select__option--is-selected {
  background: #ffe682;
  color: #333;
}
.input-circular-range {
  position: relative;
  display: inline-block;
}
.input-circular-range svg {
  vertical-align: top;
  cursor: pointer;
}
.input-circular-range .input-circular-range-value {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 66px;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.main-widget {
  width: calc((100% - 645px - 26px) + 7.5px);
}
.main-widget .widget-header {
  margin-bottom: calc(12.5px + 7.5px);
}
.main-widget .widget-header .widget-header-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
.main-widget .widget-content {
  height: calc(((100px + 15px) * 3) - 15px);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 20px;
  background: url(main-widget-bg.2c650cc7.png) no-repeat 50% 50%;
  background-size: cover;
  border-radius: 20px;
  overflow: hidden;
}
.main-widget .widget-content .widget-content-main-info {
  color: #333;
}
.main-widget .widget-content .widget-content-main-info .greeting {
  margin-bottom: 5px;
  font-size: 27px;
  font-weight: bold;
}
.main-widget .widget-content .widget-content-main-info .state-info {
  margin-bottom: 25px;
  font-size: 14px;
}
.main-widget .widget-content .widget-content-main-info .temperature-info .inside,
.main-widget .widget-content .widget-content-main-info .temperature-info .outside {
  display: inline-block;
  vertical-align: top;
}
.main-widget .widget-content .widget-content-main-info .temperature-info .inside .title,
.main-widget .widget-content .widget-content-main-info .temperature-info .outside .title {
  vertical-align: middle;
  font-size: 14px;
  color: #858585;
}
.main-widget .widget-content .widget-content-main-info .temperature-info .inside .value,
.main-widget .widget-content .widget-content-main-info .temperature-info .outside .value {
  vertical-align: middle;
  font-size: 36px;
  font-weight: bold;
}
.main-widget .widget-content .widget-content-main-info .temperature-info .inside .svg-icon,
.main-widget .widget-content .widget-content-main-info .temperature-info .outside .svg-icon {
  vertical-align: middle;
  margin-left: 5px;
  width: 26px;
  height: 26px;
}
.main-widget .widget-content .widget-content-main-info .temperature-info .inside {
  margin-right: 18px;
}
.main-widget .widget-content .slider-wrapper {
  width: calc(200px + 15px);
  margin: -7.5px -7.5px 0 0;
}
@media (max-width: 1320px) {
  .main-widget .widget-content .slider-wrapper {
    width: calc((200px + 15px) * 3);
    margin: 0 0 -7.5px -7.5px;
  }
  .main-widget .widget-content .slider-wrapper .slider-item.first-item {
    background: #fff;
    box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);
  }
}
@media (max-width: 1070px) {
  .main-widget {
    width: calc((100% - 430px - 26px) + 7.5px);
  }
  .main-widget .widget-content .slider-wrapper {
    width: calc((200px + 15px) * 3);
    margin: 0 0 -7.5px -7.5px;
  }
}
@media (max-width: 800px) {
  .main-widget {
    width: 100%;
  }
  .main-widget .widget-header {
    display: none;
  }
  .main-widget .widget-content {
    flex-direction: column;
    height: 270px;
    overflow: hidden;
  }
  .main-widget .widget-content .widget-content-main-info .greeting {
    font-size: 18px;
  }
  .main-widget .widget-content .widget-content-main-info .state-info {
    margin-bottom: 15px;
    font-size: 12px;
  }
  .main-widget .widget-content .widget-content-main-info .temperature-info .inside .title,
  .main-widget .widget-content .widget-content-main-info .temperature-info .outside .title {
    font-size: 12px;
  }
  .main-widget .widget-content .widget-content-main-info .temperature-info .inside .value,
  .main-widget .widget-content .widget-content-main-info .temperature-info .outside .value {
    font-size: 24px;
  }
  .main-widget .widget-content .widget-content-main-info .temperature-info .inside .svg-icon,
  .main-widget .widget-content .widget-content-main-info .temperature-info .outside .svg-icon {
    width: 20px;
    height: 20px;
  }
  .main-widget .widget-content .slider-wrapper {
    width: calc((200px + 15px) * 4);
  }
}
@media (-webkit-min-device-pixel-ratio: 0.015625), (min-resolution: 1.5dpi) {
  .main-widget .widget-content {
    background: url(main-widget-hr.7e6231a7.png) no-repeat 50% 50%;
  }
}
.scenarios-widget {
  width: calc((200px + 15px) * 3);
}
.scenarios-widget .widget-header {
  position: relative;
  margin-bottom: 12.5px;
  padding-left: 7.5px;
}
.scenarios-widget .widget-header .widget-header-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
.scenarios-widget .widget-header .switch-buttons {
  position: absolute;
  top: 50%;
  right: 7.5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.scenarios-widget .widget-content {
  overflow: hidden;
}
.scenarios-widget .widget-content .slider-wrapper {
  width: calc((200px + 15px) * 3);
}
.scenarios-widget .widget-content .slider-wrapper .slider-item-wrapper {
  height: calc(100px + 15px);
}
.scenarios-widget .widget-content .slider-wrapper .slider-item-wrapper .slider-item {
  height: 100px;
}
@media (max-width: 1070px) {
  .scenarios-widget {
    width: calc((200px + 15px) * 2);
  }
  .scenarios-widget .widget-content .slider-wrapper {
    width: calc((200px + 15px) * 2);
  }
}
@media (max-width: 800px) {
  .scenarios-widget {
    margin: 20px -7.5px 0 -7.5px;
    width: calc(100% + 7.5px);
  }
  .scenarios-widget .widget-header .switch-buttons {
    display: none;
  }
  .scenarios-widget .widget-content {
    margin-right: -20px;
  }
  .scenarios-widget .widget-content .slider-wrapper {
    width: calc((200px + 15px) * 4);
  }
  .scenarios-widget .widget-content .slider-wrapper .slider-item.first-item {
    background: #fff;
    box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);
  }
}
.devices-widget {
  margin: 30px -7.5px 0 -7.5px;
  width: 100%;
}
.devices-widget .widget-header {
  position: relative;
  margin-bottom: 12.5px;
  padding-left: 7.5px;
}
.devices-widget .widget-header .widget-header-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
.devices-widget .widget-header .switch-buttons {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.devices-widget .widget-header .filters-list {
  margin-left: 15px;
}
.devices-widget .widget-content {
  overflow: hidden;
}
.devices-widget .widget-content .slider-wrapper {
  width: calc((200px + 15px) * 7);
}
.devices-widget .widget-content .slider-wrapper .slider-item.first-item {
  background: #fff;
  box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);
}
@media (max-width: 800px) {
  .devices-widget {
    margin: 20px -7.5px 0 -7.5px;
    width: calc(100% + 7.5px);
  }
  .devices-widget .widget-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .devices-widget .widget-header .switch-buttons {
    display: none;
  }
  .devices-widget .widget-content {
    margin-right: -20px;
  }
  .devices-widget .widget-content .slider-wrapper {
    width: calc((200px + 15px) * 4);
  }
}
.device-form {
  color: #333;
}
.device-form .device-form-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
.device-form .device-form-header .header-title {
  font-size: 27px;
  font-weight: bold;
}
.device-form .device-form-header .header-prev-state .header-prev-state-value {
  font-size: 36px;
  font-weight: bold;
  vertical-align: middle;
}
.device-form .device-form-header .header-prev-state svg {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}
.device-form .device-schedule-info {
  width: 100%;
  margin-bottom: 15px;
  font-size: 13px;
}
.device-form .filters-list {
  width: calc(100% + 25px);
  margin-bottom: 25px;
  margin-right: -25px;
}
.device-form .device-form-content {
  text-align: center;
}
.summary-page {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
