.Fridge-Button {
  border-radius: 8px;
  min-width: 130px;
  height: 55px;
  line-height: 55px;

  &:first-child {
    margin-right: 20px;
  }

  @media (max-width: 800px) {
    height: 45px;
    line-height: 45px;
  }
}
